.square-input
{
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid green;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0.4rem;
    margin: 0.2rem;
    text-transform: capitalize;
}


.square-input-disabled
{
    border: none;
}
