.insectle-letter
{
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid green;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0.4rem;
    margin: 0.2rem;
    text-transform: capitalize;
    display: inline-block;
}

.insectle-letter p {
    margin: 0; /* Remove default margin from <p> */
    line-height: 1; /* Adjust line height */
    pointer-events: none; /* Ensure text is not clickable */
}

.insectle-letter-space {
    border: none;
}
